{% extends "base.html" %} 
{% block head %} 
{% endblock %} 
{% block content %}
<div class="l-content">
    <div class="tournament pure-g">
        <div class="pure-u-1">
        {% for t in result %}
            <h2>{{ t.get_league_display }}</h2>
            <h3>{{t.year}} {{ t.name }} - {{ t.location}}
				{% comment %}
                {% if t.media_set.all %}
                    <a class="button-xsmall pure-button pure-button-primary" href="/media/{{ t.id }}">media</a>
                {% endif %}
				{% endcomment %}
            </h3>
            <div>
            	{% regroup t.score_set.all|dictsort:'display_format' by display_format as div_list %}
            	{% for grouper, places in div_list %}
            	<table class="pure-table">
            	    <thead>
            	        <tr>
            	            <th colspan="2">{{ grouper }}</th>
            	        </tr>
            	    </thead>
            	    {% for p in places|dictsort:"place" %}
            	    <tr class={% cycle 'pure-table-odd' '' %}>
            	        <td>{{ p.place }}</td>
            	        <td>
							{% if search in p.team|lower %}
								<mark>{{ p.team }}</mark>
							{% else %}
								{{ p.team }}
							{% endif %}
						</td>
            	    </tr>
            	    {% endfor %}
            	    {% resetcycle %}
            	</table>
            	{% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}