body * {
    font-family: 'Roboto';
}

.header {
    background: #2d3e50;
}

h1.header {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 8vw;
    text-align: center;
}

.menu {
    background: #8c9aa8;
    text-align: center;
    padding-bottom: 1.5em;
}

.content {
    text-align: center;
    padding-bottom: 2em;
}

.score-table {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

footer {
    text-align: center;
    padding: 1em;
    background: #8c9aa8;
    font-size: .8em;
    color: #2d3e50;
}

.hero-image {
    background-image: url("/static/images/lockout_bw.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3.content {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: .2em;
    font-size: 2vw;
    margin: 0px;
    padding: 10px;
    color: whitesmoke;
}