{% extends "base.html" %}
{% block head %}
<script src="https://kit.fontawesome.com/8bda71bcb4.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="l-content">
    <div class="max-width-wrapper">
        <div class="tournament pure-g">
            <div class="pure-u-1">
            {% regroup result by tournament as media_list %}
            {% for tournament in media_list %}
                <h2>{{ tournament.grouper.get_league_display }}</h2>
                <h3>{{ tournament.grouper.year }} {{ tournament.grouper.name }} - {{ tournament.grouper.location }}</h3>
                <div>
                <ul class="fa-ul">
                {% for m in tournament.list|dictsort:"media_type" %}
                    <li>
                        <span class="fa-li">
                            {% if m.media_type == 'VID' %}
                            <i class="fas fa-video"></i>
                            {% elif m.media_type == 'PHO' %}
                            <i class="fas fa-camera"></i>
                            {% endif %}
                        </span>
                        <a href="{{ m.url}}">{{ m.name }}</a>
                    </li>
                {% endfor %}
                </ul>
                </div>
            {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock content %}